<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>co.elastic.filebeat</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/filebeat/filebeat</string>
        <string>-c</string>
        <string>/usr/local/filebeat/filebeat.yml</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>/usr/local/filebeat</string>

    <key>StandardOutPath</key>
    <string>/var/log/filebeat.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/filebeat.log</string>

    <key>UserName</key>
    <string>root</string>

    <key>GroupName</key>
    <string>wheel</string>

    <key>InitGroups</key>
    <true/>
</dict>
</plist>
